#body{
	background-color: #00BFFF;
}
#glavnoe{
	top: 70px;
	width: 300px;
	height: 570px;
	background: white;
	border: 1px solid black;
	border-radius: 20px;
	position: absolute;
	left: 800px;
	z-index: 1;
	position: fixed;
}
#news{
	top: 70px;
	width: 600px;
	height: 1900px;
	background: white;
	border: 1px solid black;
	border-radius: 20px;
	position: absolute;
	left: 830px;
	z-index: 1;	
	display: none;
}
::-webkit-scrollbar{
    width:12px;
}
#icon{
	top: 120px;
	border: 1px solid black;
	width: 100px;
	position: absolute;
	left: 840px;
	z-index: 2;
	position: fixed;
	border-radius: 7px;
}
#head{
	border: 1px solid blue;
	position: fixed;
	width: 1889px;
	height: 50px;
	background-color: #1E90FF;
	z-index: 9999;
	top: 0px;
}
input {
    background-image: url(image/logo1.png);   
    background-repeat: no-repeat; /*Убираем повтор изображения*/   
    background-position: 4px; /*Позиционируем*/   
    outline: none; /*убираем стандартную обводку браузера*/   
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/  
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/   
    border-radius: 5px; /*закругляем углы для остальных браузеров*/  
    padding-left: 20px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/  
    height: 20px; /*высота строки ввода*/   
    font-size: 13px; /*размер шрифта*/
}
#one{
	z-index: 3;
	position: absolute;
	left: 837px;
	top: 250px;
	position: fixed;
	display: ;
}
#ima{
	z-index: 3;
	position: absolute;
	left: 837px;
	top: 202px;
	font-family: Courier New;
	font-size: 15pt;
	position: fixed;
}
#two{
	z-index: 3;
	position: absolute;
	left: 837px;
	top: 320px;
	position: fixed;
}
#fama{
	z-index: 3;
	position: absolute;
	left: 837px;
	top: 272px;
	font-family: Courier New;
	font-size: 15pt;
	position: fixed;
}
#password{
	z-index: 3;
	position: absolute;
	left: 837px;
	top: 342px;
	font-family: Courier New;
	font-size: 15pt;
	position: fixed;
}
#passwordi{
	z-index: 3;
	position: absolute;
	left: 837px;
	top: 402px;
	font-family: Courier New;
	font-size: 15pt;
	width: 165px;
	font-size: 10pt;
	position: fixed;
}
#email{
	z-index: 3;
	position: absolute;
	left: 837px;
	top: 422px;
	font-family: Courier New;
	font-size: 15pt;
	position: fixed;
}
#emaili{
	z-index: 3;
	position: absolute;
	left: 837px;
	top: 472px;
	font-family: Courier New;
	font-size: 15pt;
	width: 165px;
	font-size: 10pt;
	position: fixed;
}
#submitki{
	z-index: 3;
	position: absolute;	
	position: fixed;	
	left: 832px;
	top: 522px;
}
#submitki {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
} 
#submitki:hover { 
	background: rgb(53, 167, 110); 
}
#submitki:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
#headtwo {  
	width: 602px;
	height: 60px;
	border-radius: 20px;
	position: absolute;
	left: 830px;
	background-color: blue;
	z-index: 2;
	top: 70px;
	display: none;
}
#headthree {  
	width: 602px;
	height: 60px;
	position: absolute;
	left: 830px;
	background-color: blue;
	z-index: 2;
	top: 90px;
	display: none;
}
#dtext{
	position: absolute;
	left: 1005px;
	z-index: 3;
	top: 50px;
	color: white;
	font-family: 'Arial Black', sans-serif;
	line-height: 1em;
	font-weight: bold;
	font-size: 42px;
	text-shadow: 1px 1px 1px black;
	display: none;
}
#submit {
  z-index: 4;
  position: absolute;
  top: 120px;
  left: 645px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  padding: .6em 0.5em calc(.6em + 1px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  display: none;
  position: fixed;
} 
#submit:hover { 
	background: rgb(53, 167, 110); 
}
#submit:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
#pass{
  z-index: 4;
  position: absolute;
  top: 150px;
  left: 645px;
  position: fixed;
  display: none;
  border: 1px solid black;
  background-color: #E0FFFF;
  border-radius: 3px;
}
#submitkoks {
  z-index: 4;
  position: absolute;
  top: 120px;
  left: 645px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  padding: .6em 0.5em calc(.6em + 1px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  display: none;
  position: fixed;
} 
#submitkoks:hover { 
	background: rgb(53, 167, 110); 
}
#submitkoks:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
#icontwo{
	z-index: 5;
	width: 20px;
	position: absolute;
	position: fixed;
	top: 115px;
	left: 535px;
	display: none;
}
#pl{
	z-index: 6;
	width: 510px;
	height: 50px;
	background-color: lightgray;
	border: 1px solid black;
	border-radius: 15px;
	position: absolute;
	left: 850px;
	top: 170px;
	display: none;
}
#pll{
	z-index: 7;
	left: 860px;
	top: 175px;
	position: absolute;
	width: 40px;
	border-radius: 15px;
	display: none;
}
#hok{
	z-index: 8;
	width: 6px;
	height: 40px;
	background-color: red;
	position: absolute;
	left: 910px;
	top: 175px;
	border-radius: 5px;
	display: none;
}